{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/svg+xml" href="{% static 'images/dino_logo.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles/reviews.css' %}">
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
    <title>Dino</title>
    {% block extra_css %}{% endblock %}
</head>

<body>
    <nav class="navbar">
        <a class="navbar-brand" href="/login">
            <img src="{% static 'images/dino_logo.png' %}" alt="Logo">
            {{message}}
        </a>
        <a class="navbar-brand" href="{% url 'home' %}">
            Home
        </a>
        <a class="navbar-brand" href="{% url 'user-profile' %}">
            Account
        </a>
        <a class="navbar-brand" href="{% url 'hotel-detail' %}">
            Hotels
        </a>
        <a class="navbar-brand" href="/login">
            Search
        </a>
        <!-- <button class="navbar-toggler" id="navbar-toggler">
            <span class="icon-bar">asddsf</span>
            <span class="icon-bar">aasdfdf</span>
            <span class="icon-bar">dfe3434</span>
        </button> -->
        <!-- <div class="navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Signup</a>
                </li>
            </ul>
        </div> -->
    </nav>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // JavaScript for toggling navbar collapse
        document.addEventListener("DOMContentLoaded", function () {
            const navbarToggler = document.getElementById("navbar-toggler");
            const navbarCollapse = document.getElementById("navbarNav");

            navbarToggler.addEventListener("click", function () {
                navbarToggler.classList.toggle("open");
                navbarCollapse.classList.toggle("show");
            });
        });
    </script>
    {% block content %}
    {% endblock %}
</body>
<script>
    function showDirection(latitude, longitude) {
        let directionLink = `https://maps.google.com?q=${latitude}, ${longitude}`;
        window.open(directionLink, "_blank", "noreferrer");
    }

</script>

</html>