{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
<link href="{% static 'styles/hotel-review.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const listBox = document.getElementById("visit-type-list");
        const visitTypes = document.querySelectorAll(".visit-type-item");

        visitTypes.forEach((type, index) => {
            type.addEventListener("click", function () {
                const selectedIndex = parseInt(type.dataset.value);
                document.getElementById("visit-type-value").value = selectedIndex;
                resetVisitTypes();
                for (let i = 0; i <= selectedIndex; i++) {
                    visitTypes[i].classList.add("active");
                }
            });
        });

        function resetVisitTypes() {
            visitTypes.forEach((type) => {
                type.classList.remove("active");
            });
        }
    });

    document.addEventListener("DOMContentLoaded", function () {
        const datePicker = document.getElementById("visit-date");
        // Initialize the date picker
        datePicker.addEventListener("click", function () {
            // Show the date picker when the input field is clicked
            datePicker.type = "date";
        });
    });
</script>

<div class="review-parent">
    <div class="hotel-info-container">
        <div class="hotel-image-container"><img class="hotel-img" src="{{ hotel.hotelImageURL }}"
                alt="Image of {{ hotel.hotelName }}"></div>
        <p class="hotel-name-container">{{hotel.hotelName}}</p>
    </div>
    <div class="hotel-review-container">
        <form method="post" action="{% url 'post_user_hotel_data' hotelID %}">
            {% csrf_token %}
            <div class="review-info">
                <p>How would you rate your experience?</p>
                <div class="review-container">
                    <select id="rating-list" name="rating">
                        <option class="rating-item" value="1">1</option>
                        <option class="rating-item" value="2">2</option>
                        <option class="rating-item" value="3">3</option>
                        <option class="rating-item" value="4">4</option>
                        <option class="rating-item" value="5">5</option>
                    </select>
                </div>
            </div>
            <div class="review-info">
                <p>When did you go?</p>
                <div class="review-container">
                    <input type="date" id="visit-date" name="visit_date">
                </div>
            </div>
            <div class="review-info">
                <p>Who did you go with?</p>
                <div class="review-container">
                    <select id="visit-type-list" name="visit_type">
                        <option class="visit-type-item" value="Alone">Alone</option>
                        <option class="visit-type-item" value="With Family">With Family</option>
                        <option class="visit-type-item" value="With Friends">With Friends</option>
                        <option class="visit-type-item" value="With Partner">With Partner</option>
                    </select>
                </div>
            </div>
            <div class="review-info">
                <p>Title of your review</p>
                <div class="review-container">
                    <input type="text" name="review_title">
                </div>
            </div>
            <div class="review-info">
                <p>Your reviews</p>
                <div style="height:9rem; width: 100%;" class="review-container">

                    <textarea name="review_content" id="" cols="30" rows="10"></textarea>
                </div>
            </div>
            <!--            <div class="review-info">-->
            <!--                <p>Add some photos (optional)</p>-->
            <!--                <div class="image-upload-container"> Add photos</div>-->
            <!--            </div>-->
            <button class="submit-btn" type="submit">Submit Review</button>
        </form>
    </div>
</div>

{% endblock %}