{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'styles/hotel.css' %}" rel="stylesheet" type="text/css">

{% endblock extra_css %}

{% block content %}
<div class="container">
    <h1 class="mt-5 mb-4">Hotel Detail</h1>
    <div class="row">
        {% for hotel in hotels %}
        <!-- <a href="/hotel-info/{{hotel.hotelID}}"> -->
        <a href="{% url 'hotel-info' hotel.hotelID %}">
            <div class="col-md-6 mb-4">
                <div class="card" onclick="()=>{{f}}">
                    <img src="{{ hotel.hotelImageURL }}" class="card-img-top" alt="Image of {{ hotel.hotelName }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ hotel.hotelName }}</h5>
                        <p class="card-text"><strong>Address:</strong> {{ hotel.address }}</p>
                        <p class="card-text"><strong>Average Rating:</strong> {{ hotel.averageRating }}</p>
                        <div class="link-location">
                            <a href="{{ hotel.hotelURL }}" class="btn btn-primary">Visit Website</a>
                            <p class="location" onclick="showDirection('{{ hotel.latitude }}', '{{hotel.longitude}}')">
                                Location
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}

</body>

</html>