{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<!-- add css file here -->
<link href="" rel="stylesheet" type="text/css">
<link href="{% static 'styles/hotelinfo.css' %}" rel="stylesheet">

{% endblock extra_css %}
{% block content %}
<div class="hotel-info-parent">
    <div class="card-parent">
        <div class="card" onclick="()=>{{f}}">
            <div class="image-container">
                <img class="hotel-img" src="{{ hotel.hotelImageURL }}" class="card-img-top"
                    alt="Image of {{ hotel.hotelName }}">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ hotel.hotelName }}</h5>
                <p class="card-text"><strong>Address:</strong> {{ hotel.address }}</p>
                <p class="card-text"><strong>Average Rating:</strong> {{ hotel.averageRating }}</p>
                <div class="link-location">
                    <a href="{{ hotel.hotelURL }}" class="btn btn-primary">Visit
                        Website</a>
                    <div onclick="event.stopPropagation();location.href='{% url 'giving-review' hotel.hotelID %}'"
                        class="write-review-button">Write a Review</div>
                    <p class="location" onclick="showDirection('{{ hotel.latitude }}', '{{hotel.longitude}}')">
                        Location
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="hotel-review-container">
        <h1>Reviews</h1>
        <div class="review-parent">
            {% for review in reviews %}
            <div class="review-container">
                <div class="review-user-title">
                    <p class="rating">{{review.rating}}.0</p>
                    <p class="review-title">"{{review.reviewTitle}}"</p>
                </div>
                <div class="review">
                    <p style="font-weight: bold;text-transform: capitalize;">{{review.userInfo.username}}</p>
                    <p>{{review.review}}</p>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock %}