/* Auth.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust width as needed */
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#toggleLink {
    text-align: center;
}

#toggleLink a {
    color: #007bff;
    text-decoration: none;
}

#toggleLink a:hover {
    text-decoration: underline;
}

#googleButton {
    background-color: #db4437;
    margin-top: 10px;
}

#googleButton:hover {
    background-color: #c1351d;
}
