body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  font
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

button {
  background-color: #2bdd67;
  border: none;
  padding: 10px 10px;
  border-radius: 10px;
}
