.search-container {
    display: flex; /* 使用flex布局 */
    justify-content: center;
    /* position: absolute; */
    /* top: 10%;
    left: 25%;  */
    padding-top: 10px;
    /* transform: translate(-50%, -50%); 向上和向左各偏移自身一半的大小来居中 */
    /* border: solid; */
    height: 10px;
    margin-bottom: 5%;
    margin-top: 150px;
  }
  
  #hotel_logo img {
    margin-right: 20px; /* Logo与搜索栏之间的间隔 */
    width: auto; /* Logo图片的宽度，根据实际情况设置 */
    height: 40px; /* Logo图片的高度 */
  }
  
  .search-bar-container {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    /* border: solid; */
    /* border: dashed blue; */
    width: auto;
  }
  
  .search-input {
    width: 700px; /* 搜索输入框的宽度 */
    height: 40px;
    border: 1px solid #ccc; /* 输入框的边框 */
    padding: 5px 10px; /* 输入框的内边距 */
    /* border: dashed red; */
  }
  
  .search-icon {
    width: 18px; /* 搜索图标的宽度 */
    height: 22px; /* 搜索图标的高度 */
  }
  .search-button{
    /* border: none; */
    border-width: 2px;
    border-radius: 2%;

    background-color: white;
  }


  #buttons-container {
    display: flex; /* 启用flexbox */
    flex-direction: column; /* 子元素垂直排列 */
    align-items: center; /* 子元素在交叉轴上居中，即水平居中 */
    justify-content: center; /* 子元素在主轴上居中，即垂直居中 */
    height: 50vh; /* 容器高度设置为视口的100% */
    gap: 30px; /* 设置按钮之间的间隔 */
}

#top-hotels {
    padding: 30px 97px; /* 根据需要调整按钮的内边距来改变大小 */
    font-size: 14px; /* 调整文字大小也会影响按钮的总体大小 */
    /* 添加其他想要的样式 */
}

#recent-reviews {
    padding: 30px 80px; /* 提供不同的内边距值 */
    font-size: 14px; /* 不同的文字大小 */
    /* 添加其他想要的样式 */
}

.carousel {
    position: relative;
    max-width: 90%; /* 或根据你的设计需求调整 */
    /* height: 200px; */
    height: 500px;
    margin: auto;
    overflow: hidden;
    /* border: dashed blue; */
  }
  
  .carousel-items {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* border: solid; */
    /* border: dashed red; */
    align-items: center;
    height: 100%;
    /* height: auto; */
  }
  
  .carousel-item {
    flex: 0 0 100%;
    text-align: center; /* 确保按钮在其容器中居中 */
    /* border: dashed blue; */
    /* border: 1px solid #ccc; */
    /* top: 50%; */
    /* border: dashed yellow; */
    height: 400px;
  }
  
  .carousel-item button {
    background-size: cover;
    background-position: center;
    /* background-color: rgb(106, 19, 157); */
    color: rgb(255, 255, 255); /* 根据需要和背景图调整文字颜色 */
    padding: 10px 20px; /* 根据需要调整 */
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 50px;
    width: 80%;
    height: 100%;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-20%);
    font-size: 24px;
    color: black;
    text-decoration: none;
    /* background-color: rgba(71, 34, 34, 0.5); */
    border-radius: 50%;
    cursor: pointer;
  }
  
  .prev {
    left: calc(50% - 470px); /* 调整以接近按钮 */
  }
  
  .next {
    right: calc(50% - 470px); /* 调整以接近按钮 */
  }
