.profile-header {
  display: flex;
  align-items: center;
}

.profile-picture-container {
  position: relative;
  margin-right: 20px;

  /* Adjust margin as needed */
}
.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.upload-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 50%;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.upload-btn:hover {
  background-color: #007bff;
  color: #fff;
}

.update-profile-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.update-profile-btn:hover {
  background-color: #0056b3;
}

.reviews {
  max-height: 300px;
  overflow-y: auto;
}

.review {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.review h4 {
  margin-bottom: 5px;
}

.review .date-tag {
  color: #666;
  font-size: 14px;
  margin-bottom: 5px;
}

.review .rating {
  color: #007bff;
  font-size: 16px;
  margin-bottom: 5px;
}

.review .review-text {
  font-size: 14px;
  line-height: 1.6;
}

#image-preview-container {
  margin-bottom: 20px;
}

#image-preview {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
}

#profile-picture-input {
  display: none;
}
