p {
  margin: 0;
}
.review-parent {
  height: auto;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}

.hotel-info-container {
  width: 30%;
  height: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hotel-info-container p {
  text-transform: capitalize;
  font-size: 30px;
}
.hotel-image-container {
  width: 100%;
  height: 50%;
}
.hotel-image-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.hotel-review-container {
  width: 50%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.review-info {
  width: 95%;
  margin-top: 10%;
}

.date-container {
  width: 50%;
  background-color: rgb(5 5 5 / 9%);
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 5px;
}

.review-container {
  display: flex;
  background-color: rgba(208, 208, 208, 0.459);
  height: 40px;
  width: 80%;
  justify-content: start;
  align-items: center;
  border-radius: 4px;
  padding: 0px 22px;
  box-sizing: border-box;
}

.review-container select {
  width: 90%;
  background: transparent;
  border: none;
  font-size: 20px;
  outline: none;
}

.review-container option {
  background-color: rgba(128, 128, 128, 0.459);
}

.review-container input {
  background-color: transparent;
  font-size: 20px;
  border: none;
}

.review-container i {
}

.review-container textarea {
  background-color: transparent;
  font-size: 20px;
  border: none;
  height: 100%;
  width: 100%;
}

.review-container input:focus {
  outline: none;
}

.submit-btn {
  width: 40%;
  border: none;
  color: #0e8d39;
  border: solid 2px #0e8d39;
  background: transparent;
  border-radius: 26px;
  height: 49px;
  font-size: 20px;
  margin: 42px 0px;
  transition: all 0.5s;
}

.submit-btn:hover {
  background-color: rgba(0, 128, 0, 0.518);
  color: black;
}

.review-container select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.review-container textarea {
  background-color: transparent;
  border: none;
  margin-left: 10px;
  width: 100%;
}

.review-container textarea:focus {
  outline: none;
}

.date-container input {
  background-color: transparent;
  border: none;
  font-size: 17px;
  margin-left: 10px;
}
.date-container input:focus {
  outline: none;
}

.review-info p {
  font-size: 30px;
}

.image-upload-container {
  width: 90%;
  height: 180px;
  background-color: rgb(5 5 5 / 9%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.visit-type-container {
  display: flex;
  gap: 10px;
}

.rating-container {
  display: flex;
  gap: 5px;
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 16px;
  border: 1px solid black;
}

.submit-button {
  margin: 43px 40px;
  width: 185px;
  height: 40px;
  border: none;
  color: white;
  background: rgb(4, 255, 0);
  border-radius: 20px;
  font-weight: bold;
}

.image-preview {
  width: 100px;
  height: 100px;
}

.image-upload-container input {
  display: none;
}
